@import '../../styles/variables';

nav.side-nav {
    width: 150px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;

    padding: 35px;
    background-color: $color-secondary;

    > div.container__img {
        width: 75px;
        height: 80px;

        border-radius: 50%;
        background-color: $color-primary;
        cursor: pointer;

        > img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            
        }

        &:hover {
            transition: all ease 0.5s;
            transform: scale(1.2);
        }
    }

    > div.popup {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;

        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000000c2;
        padding: 20px;

        > div {
            background-color: $color-primary;
            border-radius: 50%;
            width: 80%;
            max-width: 400px;

            img {
                width: 100%;
                border-radius: 50%;
                transform: translateY(4px);
            }
        }
    }

    > ul.nav-list {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px;

        > li.nav-item {
            width: 90px;
            display: flex;

            > a {
                width: 100%;
                padding: 0 10px;
                color: $color-primary;
                
                cursor: pointer;

                &:hover {
                    transition: all ease 0.5s;
                    transform: scale(1.2);
                    box-shadow: 2px 2px 5px 0px $color-primary;
                    background-color: $color-primary;
                    color: $color-secondary;
                    border-radius: 10px;
                }
            }
        }
    }

    > button.night-mode {
        width: 90px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;

        padding: 10px;
        border: none;
        outline: none;
        background-color: transparent;

        > div.container__move-button {
            width: 40px;
            height: 22px;
            background-color: $color-primary;
            position: relative;
            border-radius: 15px;
            cursor: pointer;

            > div.moved-button {
                position: absolute;
                top: 2px; 
                left: 2px;

                width: 18px;
                height: 18px;

                transition: all ease 0.5s;
                border-radius: 50%;
                background-color: $bg-pages-day;

                &.right {
                    transition: all ease 0.5s;
                    left: 20px;
                }
            }
        }
    }

    &.night-mode {
        background-color: $bg-nav-night;

        > div.container__img {
            background-color: $color-secondary;
        }

        > ul.nav-list {
            > li.nav-item {
                > a {
                    color: $color-secondary;

                    &:hover {
                        box-shadow: 2px 2px 5px 0px $color-secondary;
                        background-color: $color-secondary;
                        color: $color-primary;
                    }
                }
            }
        }

        > button.night-mode {
            > span {
                color: $color-secondary;
            }
            > div.container__move-button {
                background-color: $color-secondary;

                > div.moved-button {
                    background-color: $color-primary;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    nav.side-nav {
        width: 100%;
        height: 100px;

        flex-direction: row;
        justify-content: space-between;
        gap: 20px;

        padding: 10px 35px;
        position: sticky;

        > ul.nav-list {
            width: 150px;
            flex-direction: column;
            gap: 10px;
            padding-left: 40px;
        }

        > button.night-mode {
            justify-content: flex-start;
            align-items: flex-start;
            padding: 0 0 0 20px;
        }

        > div.container__img {
            width: 55px;
            height: 60px;
            pointer-events: none;
        }
    }
}

@media screen and (min-width: 512px) and (max-width: 767px) {
    nav.side-nav {
        > div.container__img {
            padding-top: 10px;

            &:hover {
                transform: none;
            }
        }
        
        > ul.nav-list {
            width: calc(100% - 110px);
            height: 70%;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding-left: 0px;
        }
    }
}

@media screen and (max-width: 300px) {
    nav.side-nav {
        > div.container__img {
            width: 55px;
            cursor: auto;

            &:hover {
                transform: none;
            }
        }
        > ul.nav-list {
            width: 100px;
            flex-direction: column;
            gap: 10px;
            padding-left: 0px;
        }
        > button.night-mode {
            width: 50px;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 0;
        }
    }
}